.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.optional::after {
    content: " (optional)";
    color: #999;
    font-weight: normal;
}

.tk::after {
    content: "৳";
    color: #000;
    font-weight: normal;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #106682 !important;
}

.btn-outline-add {
    background-color: #fff !important;
    color: #106682 !important;
    border-color: #106682 !important;
}

.btn-outline-add:hover {
    background-color: #106682 !important;
    color: #fff !important;
    border-color: #106682 !important;
}

.btn-outline-back {
    background-color: #fff !important;
    color: #b62626 !important;
    border-color: #b62626 !important;
}

.btn-outline-back:hover {
    background-color: #b62626 !important;
    color: #fff !important;
    border-color: #b62626 !important;
}

.btn-outline-view {
    background-color: #fff !important;
    color: #187432 !important;
    border-color: #187432 !important;
}

.btn-outline-view:hover {
    background-color: #187432 !important;
    color: #fff !important;
    border-color: #187432 !important;
}

.btn-outline-edit {
    background-color: #fff !important;
    color: #267fb6 !important;
    border-color: #267fb6 !important;
}

.btn-outline-edit:hover {
    background-color: #267fb6 !important;
    color: #fff !important;
    border-color: #267fb6 !important;
}

.backBtnContentList i:nth-child(1) {
    transition: all 0.5s ease-in-out;
    animation: showHide1 1.8s infinite;
}




@keyframes showHide1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.backBtnContentList i:nth-child(2) {
    transition: all 0.5s ease-in-out;
    animation: showHide2 1.8s infinite;
}

@keyframes showHide2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.backBtnContentList:hover i:nth-child(1),
.backBtnContentList:focus i:nth-child(1),
.backBtnContentList:hover i:nth-child(2),
.backBtnContentList:focus i:nth-child(2) {
    animation: none;
}

/* remove increment and decrement btn from input number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}